.footer {
    /* background-color: var(--grey); */
    color: #fff;
    display: flex;
    flex-direction: row;
    padding: 20px;
    position: relative;
    bottom: 0;
    width: calc(100% - 40px);

    border-style: solid none none none;
    border-width: 0.5px;
    border-color: var(--stone);
    margin-top: 50px;
    height: 300px;
}

.links {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    gap: 15px;

    position: absolute;
    left: 10%;
    top: 45%;
    transform: translateY(-50%);

    max-width: 500px;
    /* width: 70%; */
}

.link {
    margin: 0 10px;
    text-decoration: none;
    color: var(--grey);
    font-weight: 400;
    letter-spacing: 0.05rem;
    font-size: 16px;
}

.textFiller {
    position: absolute;
    left: 50%;
    top: 46%;
    transform: translate(-50%, -50%);

    color: #a1a1a1;
    font-style: italic;
}

@media screen and (max-width: 1368px) {
    .textFiller {
        left: 55%;
    }
}

@media screen and (max-width: 768px) {
    .textFiller {
        display: none;
    }

    .logo {
        display: none;
    }
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 60px;
    margin-top: 20px;

    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0.6;
}

@media screen and (max-width: 768px) {
    .logo {
        margin-right: 5px;
    }

    .links {
        gap: 5px;
    }

    .footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 608px) {
    .footer {
        height: 200px;
    }

    .links {
        flex-direction: column;
        font-size: 12px;
        /* width: 50%; */
    }

    .link {
        font-size: 12px;
        margin: 0;
    }
}


.socials {
    display: flex;
    justify-content: center;
}

.social {
    margin: 0 5px;
}

.social img {
    width: 30px;
    height: 30px;
}

.copy {
    font-size: 12px;
    color: var(--stone);

    position: absolute;
    width: calc(100% - 20px);
    bottom: 20px;
    text-align: center;

}